/*reset*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*reset*/

.article-button {
    /*  border:1.5px #FF4500 solid;
  display: block;*/
    border: none;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    /*    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-size: 100%
}

.article-header {}

#main-title {
    font-size: 2rem;
    color: rgb(51, 153, 255);
    font-weight: bold;
    line-height: 200%;
}

.article-content {
    margin-top: 15px;
}

.article-container {
    margin-left: auto;
    margin-right: auto;
}

.article-separator {
    margin-top: 5px;
}

#sub-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 200%;
    orphans: auto;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 1;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
}

.article-content p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 200%;
    font-size: 1.2rem;
    orphans: auto;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 1;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
}

#translateButton {
    background: url(../images/tozhTW.gif);
    background-size: 100%;
}

#translateButton.isTW {
    background: url(../images/tozhCN.gif);
    background-size: 100%;
}

#toHomepageButton {
    background: url(../images/toHomepage.jpg);
    background-size: 100%;
    width: 160px;
    height: 80px;
}

a:hover {
    cursor: pointer;
}

@media only screen and (min-device-width: 1024px) {
    html {
        font-size: 18px !important;
    }
    .article-container {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        max-width: 1400px;
    }
    .article-content p {
        line-height: 200%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    #cssmenu {
        max-width: 1400px;
    }
    #translateButton {
        width: 180px !important;
    }
    #toHomepageButton {
        width: 160px !important;
    }
}

@media only screen and (min-device-width: 667px) and (max-device-width: 1024px) {
    html {
        font-size: 18px !important;
    }
    .article-container {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        height: auto;
    }
    #header-ad {
        display: none;
    }
    #cssmenu ul li a {
        padding: 5px 5px !important;
    }
    img {
        width: 100%;
        height: auto;
    }
    .article-separator img {
        width: 50%;
    }
    #translateButton {
        width: 35%;
    }
    #toHomepageButton {
        width: 35%;
    }
}

@font-face {
    font-family: "my-font";
    src: url("../fonts/lisong.TTF");
}


/*iphone 6*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    html {
        font-size: 14px !important;
    }
    .article-container {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        height: auto;
    }
    #header-ad {
        display: none;
    }
    #cssmenu ul li a {
        padding: 5px 5px !important;
    }
    img {
        width: 100%;
        height: auto;
    }
    .article-separator img {
        width: 50%;
    }
    #translateButton {
        width: 35%;
    }
    #toHomepageButton {
        width: 35%;
    }
    #main-title {
        /*font-size: 100px;*/
    }
}

/*For iPhone 6plus*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
  html {
      font-size: 14px !important;
  }
  .article-container {
      margin-left: auto;
      margin-right: auto;
      width: 98%;
      height: auto;
  }
  #header-ad {
      display: none;
  }
  #cssmenu ul li a {
      padding: 5px 5px !important;
  }
  img {
      width: 100%;
      height: auto;
  }
  .article-separator img {
      width: 50%;
  }
  #translateButton {
      width: 35%;
  }
  #toHomepageButton {
      width: 35%;
  }
  #main-title {
      /*font-size: 100px;*/
  }
}

@media only screen and (max-device-width:375px) {
    html {
        font-size: 16px !important;
    }
    .article-container {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        height: auto;
    }
    #header-ad {
        display: none;
    }
    #cssmenu ul li a {
        padding: 5px 5px !important;
    }
    img {
        width: 100%;
        height: auto;
    }
    .article-separator img {
        width: 50%;
    }
    #translateButton {
        width: 35%;
    }
    #toHomepageButton {
        width: 35%;
    }
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
    background: #F8F8FF;
    width: 1011px;
    margin-top: 5px;
    margin-left: 3px;
}

#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}

#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#cssmenu.align-right ul li {
    float: right;
}

#cssmenu.align-center ul {
    text-align: center;
}

#cssmenu ul li a {
    color: #2F4F4F;
    text-decoration: none;
    display: block;
    padding: 11px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

#cssmenu ul li a:hover {
    color: #333333;
}

#cssmenu ul li a:hover:before {
    width: 100%;
}

#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 15px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}

#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}

#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}

#cssmenu ul li.active a {
    color: #333333;
}

#cssmenu ul li.active a:before {
    width: 100%;
}

#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}

#cssmenu.align-right li:first-child a:after {
    display: none;
}
