@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
#cssmenu.align-center ul,
.article-img,
.img-box,
.main_nav {
	text-align: center
}

#cssmenu ul li a,
.cse .gs-promotion .gs-snippet a,
.cse .gs-promotion a.gs-title,
.cse .gs-promotion a.gs-title *,
.cse .gs-result .gs-title,
.cse .gs-result .gs-title *,
.cse .gs-spelling a,
.gs-promotion .gs-snippet a,
.gs-promotion a.gs-title,
.gs-promotion a.gs-title *,
.gs-result .gs-title,
.gs-result .gs-title *,
.gs-spelling a,
.wp-pagenavi a {
	text-decoration: none
}

body {
	background-color: #D4D9FF
}

@font-face {
	font-family: my-font;
	src: url(fonts/lisong.TTF)
}

#cssmenu {
	background: #9BABFF;
	width: 1011px;
	margin-top: 0;
	margin-left: 3px
}

#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
	zoom: 1
}

#cssmenu ul:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden
}

#cssmenu ul li a:after,
#cssmenu ul li a:before {
	position: absolute;
	display: block;
	content: ""
}

#cssmenu ul li {
	display: inline-block;
	padding: 0;
	margin: 0
}

#cssmenu.align-right ul li {
	float: right
}

#cssmenu ul li a {
	color: #fff;
	display: block;
	padding: 11px 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s
}

.article-img img,
.img-box img {
	padding-left: auto;
	padding-right: auto
}

#cssmenu ul li a:hover,
#cssmenu ul li.active a {
	color: #333
}

#cssmenu ul li a:hover:before {
	width: 100%
}

#cssmenu ul li a:after {
	right: -3px;
	top: 15px;
	height: 6px;
	width: 6px;
	background: #fff;
	opacity: .5
}

#cssmenu ul li a:before {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #333;
	-webkit-transition: width .25s;
	-moz-transition: width .25s;
	-ms-transition: width .25s;
	-o-transition: width .25s;
	transition: width .25s
}

#cssmenu ul li.last>a:after,
#cssmenu ul li:last-child>a:after {
	display: none
}

#cssmenu ul li.active a:before {
	width: 100%
}

#cssmenu.align-right li.last>a:after,
#cssmenu.align-right li:last-child>a:after {
	display: block
}

#cssmenu.align-right li:first-child a:after {
	display: none
}

.article-main-content {
	background: url(images/background_Logo.jpg)
}

.main_nav {
	background-color: #9BABFF
}

.article-separator {
	text-align: center;
	margin: 30px auto
}

.img-box {
	width: 25%;
	height: 8.3%;
	float: left;
	display: block
}

.article-img,
.img-box img {
	max-width: 150px;
	max-height: 105px
}

.ad-block1,
.ad-right,
.my-header,
.sb-inline {
	display: inline-block
}

.img-box img {
	border-radius: 15px
}

.img-box article {
	font-size: 15px;
	color: #6c6c6c;
	padding-top: 5px;
	padding-bottom: 5px
}

.sb-inline {
	line-height: normal;
	vertical-align: middle;
	margin-top: 2px
}

.article-img img {
	border-radius: 20px;
	width: 100%;
	height: 100%
}

.wp-pagenavi {
	text-align: right;
	height: 100%;
	width: 50%;
	float: right;
	overflow-y: auto;
}

  /* Buttons */
.wp-pagenavi::-webkit-scrollbar-button:single-button {
      background-color: #bbbbbb;
      display: block;
      border-style: solid;
      height: 13px;
      width: 16px;
    }
    /* Up */
.wp-pagenavi::-webkit-scrollbar-button:single-button:vertical:decrement {
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent red transparent;
    }

.wp-pagenavi::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
      border-color: transparent transparent #777777 transparent;
    }
    /* Down */
.wp-pagenavi::-webkit-scrollbar-button:single-button:vertical:increment {
      border-width: 8px 8px 0 8px;
      border-color: #555555 transparent transparent transparent;
    }

.wp-pagenavi::-webkit-scrollbar-button:vertical:single-button:increment:hover {
      border-color: #777777 transparent transparent transparent;
    }

#searchsubmit {
	background: url(images/search_right.jpg);
	border: none;
	width: 57px;
	height: 23px
}

.avbuzz_navbar{
	position: relative;
}

.avbuzz_navbar,
.mainpage_searchbar {
	margin-top: 0;
	border: 1px solid #92ABC9
}

.sb-1 {
	vertical-align: center
}

.ad-block1 {
	width: 100%
}

.top-ad-box {
	width: 14.2857%;
	height: auto;
	float: left
}

.top-ad-box img {
	width: 140px;
	height: 170px;
	padding-left: 3px
}

.article-footer {
	margin-bottom: 10px
}

.ad-top {
	margin-top: 1px
}

.ad-right {
	margin-left: 717px;
	margin-top: -306px;
	width: 290px
}

.ad-right a img {
	width: 100%;
	height: 100%;
	border-radius: 10px
}

.right-ad-box {
	width: 300px;
	height: 250px;
	margin-bottom: 11px
}

.main-content-up,
.main-content-up tr {
	margin-bottom: 10px
}

.main-content-up {
	height: 308px;
	width: 100%
}

.main-content-up img {
	height: 100%;
	width: 100%;
	padding: auto
}

.header-ad {
	float: left;
	padding: 0 0 0 10px
}

.header-logo {
	float: left;
	display: block;
	height: 98px;
	width: 273px;
	margin-left: 3px
}

.header img {
	width: 100%;
	height: 100%
}

.header-area {
	margin-bottom: 2px
}

.main-content-middle {
	width: 696px;
	height: auto;
	margin-bottom: 10px;
	margin-left: 3px;
	text-align: center;
	background-color: #E2E6FF
}

.main-content-container {
	margin-top: 10px
}

.main-content-middle-articles {
	margin-top: 0!important;
	padding-left: auto;
	padding-right: auto;
	height: 1774px;
	width: 100%;
	text-align: center;
	border: 1px solid #92ABC9
}

#corecontent {
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	height: 100%;
	display: block
}

.inner-ul,
.mainpage_searchbar,
.wp-pagenavi a {
	display: inline-block
}

.articles,
.inner-ul,
.style-center {
	margin-left: auto;
	margin-right: auto
}

.avbuzz_navbar {
	height: 26px;
	background: url(images/av_buzz_bg.jpg);
	width: 100%
}

.main-nav-bar {
	margin-bottom: 5px;
	height: 30px;
	width: 100%
}

.main-nav-bar a {
	color: #FFF8DC;
	font-family: my-font;
	font-size: 14px
}

.googlesearch {
	width: 625px;
	float: right
}

.mainpage_searchbar {
	height: 45px;
	background: url(images/search_bg.jpg);
	margin-bottom: 5px;
	width: 696px;
	margin-left: 3px;
	padding-left: 3px
}

.nav-active,
.nav-inactive {
	background-repeat: no-repeat
}

.mainpage_searchbar img {
	padding-top: 10px
}

.avbuzz_navbar img {
	float: left;
	margin-left: 0
}

.wp-pagenavi a {
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-right: 5px;
	margin-top: auto;
	margin-bottom: auto
}

.nav-inactive {
	font-size: 12px;
	color: #fff;
	background-image: url(images/digital_bg_sa.gif);
	height: 16px;
	width: 16px
}

.middle-table {
	height: 306px!important;
	width: 698px!important;
	padding-left: 3px
}

.nav-active {
	font-size: 18px;
	color: #3F597B;
	height: 21px;
	width: 21px;
	background-image: url(images/digital_bg.gif)
}

@media (min-width:768px) {
	.my-custom-container {
		width: 600px;
		padding: 0
	}
}

@media (min-width:992px) {
	.my-custom-container {
		width: 720px;
		padding: 0
	}
}

@media (min-width:1200px) {
	.my-custom-container {
		width: 1016px;
		padding: 0
	}
}

.row-no-padding {
	padding-left: 0!important;
	padding-right: 0!important
}

.table-middle-img {
	width: 232px;
	height: 153px;
	padding: 1px
}

.table-right-img {
	width: 234px;
	height: 306px;
	padding: 1px
}

.searchresult {
	min-height: 800px
}

.container {
	width: 1020px!important
}

.searchbar-img {
	float: left
}

.cse,
.gsc-control-cse {
	height: 32px!important;
	float: right
}

.gsc-control-cse {
	padding-top: 0!important;
	padding-bottom: 0!important;
	width: auto;
	margin-top: -29px
}

.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
	width: 100%
}

.cse .gsc-branding,
.gsc-branding {
	display: none
}

.cse .gsc-control-cse,
.gsc-control-cse {
	font-family: Georgia, serif;
	background: url(images/search_bg.jpg);
	border: none!important
}

.gsc-control-cse .gsc-table-result {
	font-family: Georgia, serif
}

.cse .gsc-control-cse:after,
.gsc-control-cse:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.cse .gsc-control-cse .gs-snippet b,
.gsc-control-cse .gs-snippet b {
	font-style: italic;
	font-weight: 400
}

.cse form.gsc-search-box,
form.gsc-search-box {
	padding: 8px 0 2px;
	margin-bottom: 6px
}

.cse .gsc-branding-text,
.cse td.gcsc-branding-text,
.gsc-branding-text,
td.gcsc-branding-text {
	color: #461200
}

.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input {
	padding-right: 12px
}

.cse input.gsc-input,
input.gsc-input {
	font-family: inherit;
	border: 1px solid #D3BCA1;
	padding: 3px 6px;
	width: 99%;
	font-size: 13px
}

.cse input.gsc-search-button,
input.gsc-search-button {
	font-family: inherit;
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	padding: 0 8px;
	height: 24px;
	min-width: 54px;
	background: #9BABFF!important;
	border: 0!important
}

.cse .gsc-tabHeader,
.gsc-tabHeader {
	font-family: Georgia, serif;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	padding: 2px 8px 0
}

.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
	background-color: #A25B08;
	border: 1px solid #A25B08;
	border-bottom: none;
	color: #fff
}

.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
	font-weight: 700;
	background-color: #461200;
	border: 1px solid #461200;
	border-bottom: none;
	color: #fff
}

.cse .gs-spelling a,
.cse .gs-webResult.gs-result .gsc-cursor-page,
.cse .gs-webResult.gs-result a.gs-title:active,
.cse .gs-webResult.gs-result a.gs-title:active b,
.cse .gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.cse .gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.cse .gs-webResult.gs-result a.gsc-trailing-more-results:link,
.cse .gsc-refinementHeader.gsc-refinementhInactive,
.gs-imageResult .gsc-cursor-page,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b,
.gs-imageResult a.gsc-trailing-more-results:link,
.gs-spelling a,
.gs-webResult.gs-result .gsc-cursor-page,
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gsc-trailing-more-results:link,
.gsc-refinementHeader.gsc-refinementhInactive {
	color: #950000
}

.cse .gsc-tabsArea,
.gsc-tabsArea {
	margin-top: 1em;
	border-bottom: 1px solid;
	border-color: #461200;
	padding: 0
}

.cse .gsc-resultsHeader,
.gsc-resultsHeader {
	margin-bottom: 12px;
	border: block
}

.cse .gsc-results,
.gsc-results {
	width: 100%
}

.cse .gs-snippet,
.cse .gs-spelling,
.cse .gs-visibleUrl,
.cse .gs-visibleUrl-short,
.cse div.gs-title,
.gs-snippet,
.gs-spelling,
.gs-visibleUrl,
.gs-visibleUrl-short,
div.gs-title {
	padding: 0
}

.cse .gs-snippet,
.cse .gs-visibleUrl,
.cse .gs-visibleUrl-short,
.gs-per-result-labels,
.gs-snippet,
.gs-visibleUrl,
.gs-visibleUrl-short {
	padding-left: 0
}

.cse .gs-snippet,
.cse .gs-spelling-original,
.gs-snippet,
.gs-spelling-original {
	font-size: 14px;
	line-height: 17px
}

.cse .gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-webResult.gsc-result {
	padding: 6px 0;
	margin-bottom: 2px;
	border: 1px solid #fff;
	background-color: #fff
}

.cse .gsc-webResult.gsc-result:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-webResult.gsc-result:hover {
	border: 1px solid #fff;
	background-color: #fff
}

.cse .gs-webResult .gs-snippet,
.gs-fileFormatType,
.gs-imageResult .gs-snippet,
.gs-webResult .gs-snippet {
	color: #333
}

.cse .gs-webResult .gs-visibleUrl,
.cse .gs-webResult a.gs-visibleUrl,
.gs-imageResult .gs-visibleUrl,
.gs-imageResult a.gs-visibleUrl,
.gs-webResult .gs-visibleUrl,
.gs-webResult a.gs-visibleUrl {
	color: #A25B08;
	font-size: 12px;
	margin-top: 3px
}

.cse .gsc-cursor-box,
.gsc-cursor-box {
	border-top: 1px dotted #c78dcc;
	padding-top: .5em;
	text-align: center
}

.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
	color: #fff;
	background-color: #461200;
	text-shadow: 0 1px 1px #000;
	padding: 0 5px
}

.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
	background-color: #FFC;
	border-color: #FEFEDC
}

.cse .gs-promotion .gs-snippet a:active,
.cse .gs-promotion .gs-snippet a:hover,
.cse .gs-promotion .gs-snippet a:link,
.cse .gs-promotion .gs-snippet a:visited,
.cse .gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.cse .gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.cse .gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.cse .gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:visited,
.gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited * {
	color: #00C
}

.cse .gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-snippet,
.gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right * {
	color: #333
}

.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
	color: #A25B08
}

.gsc-completion-selected {
	background: #e7dbcc
}

.gsc-completion-container {
	font-family: Georgia, serif;
	font-size: 13px;
	background: #fff;
	border: 1px solid #D3BCA1;
	margin-left: 0;
	margin-right: 0
}

.gsc-completion-title {
	color: #950000
}

.gsc-completion-snippet {
	color: #333
}

.gs-promotion div.gs-visibleUrl-short,
.gs-webResult div.gs-visibleUrl-short {
	display: none
}

.gs-promotion div.gs-visibleUrl-long,
.gs-webResult div.gs-visibleUrl-long {
	display: block
}

.gsc-snippet-metadata {
	color: #767676;
	margin-left: 15px
}

.gsc-rating-bar {
	display: inline-block;
	width: 53px;
	height: 10px;
	background: url(/cse/images/cse_snippets_stars.png) -52px -12px no-repeat;
	margin: 4px 0 0
}

.gsc-rating-bar span {
	display: inline-block;
	height: 10px;
	background: url(/cse/images/cse_snippets_stars.png) 0 -12px no-repeat;
	padding: 4px 0 0
}

.gsc-author,
.gsc-reviewer {
	color: #950000
}

.gsc-option-menu-item-highlighted {
	background-color: #e7dbcc
}

.gsc-context-box {
	font-size: 83%;
	margin-top: 3px;
	border-collapse: collapse
}

.gsc-context-box .gsc-col {
	padding: 1px 0;
	white-space: nowrap;
	vertical-align: middle
}

.gsc-context-box .gsc-facet-label {
	width: 65px;
	padding-left: 2px;
	text-decoration: underline;
	color: #950000;
	cursor: pointer
}

.gsc-context-box .gsc-chart {
	width: 32em;
	padding: 3px;
	border-left: 1px solid #A25B08;
	border-right: 1px solid #A25B08
}

.gsc-context-box .gsc-top {
	border-top: 1px solid #A25B08
}

.gsc-context-box .gsc-bottom {
	border-bottom: 1px solid #A25B08
}

.gsc-context-box .gsc-chart div {
	background: #A25B08;
	height: 9px
}

.gsc-context-box .gsc-facet-result {
	color: #950000;
	width: 30px;
	text-align: right;
	padding-right: 5px
}

.gsc-usr-group-thumbnail {
	display: inline-block;
	max-width: 72px;
	max-height: 72px
}

.gsc-usr-group-thumbnail img {
	max-height: 72px;
	overflow: hidden
}

.gs-webResult .gs-title .gs-title.gsc-usr-group-heading {
	color: #950000;
	cursor: pointer
}

.gsc-usr-group {
	min-height: 100px;
	zoom: 1;
	display: block;
	line-height: 1.24;
	margin-top: -7px;
	margin-bottom: -7px;
	margin-left: 20px
}

.gsc-usr-group-content {
	padding-top: 1px;
	padding-bottom: 3px
}

.gsc-usr-group-content-thumbnail {
	display: inline-block;
	vertical-align: top
}

.gsc-usr-group-head-result {
	display: inline-block;
	padding-left: 6px
}

.gsc-usr-group-snippet {
	width: 100%;
	height: 3.6em;
	overflow: hidden
}

.gsc-usr-group-content-results {
	font-size: 12px;
	padding-left: 1px;
	width: 80%;
	padding-top: 7px
}

.gsc-usr-group-head-results {
	display: inline-block;
	font-size: 13px;
	padding-left: 6px;
	width: 80%
}

.gs-webResult .gs-title .gs-title.gsc-usr-group-all-results {
	font-size: 11px;
	line-height: 10px
}

.gs-webResult .gs-title .gs-title.gsc-usr-group-all-results b {
	font-size: 14px;
	font-weight: 600
}

.gs-webResult .gs-title .gs-title.gsc-usr-group-heading b {
	color: #950000
}

input.gsc-input {
	background: #fff!important
}

#loadingSearchbar {
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	width: 90%
}

#loadingDiv {
	position: relative;
	height: 25%;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px
}

.botnav>div.wp-pagenavi {
	width:100% !important;
}

.topframe {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	border-radius: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000
}

.alert {
	padding: 8px;
	border: none
}

.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442
}


/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */

.la-ball-clip-rotate,
.la-ball-clip-rotate>div {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.la-ball-clip-rotate {
	display: block;
	font-size: 0;
	color: #fff;
	width: 32px;
	height: 32px
}

.la-ball-clip-rotate.la-dark {
	color: #333
}

.la-ball-clip-rotate.la-avbuzz {
	color: #A0B3D1
}

.la-ball-clip-rotate>div {
	display: inline-block;
	float: none;
	border: 0 solid currentColor;
	width: 32px;
	height: 32px;
	background: 0 0;
	border-width: 2px;
	border-bottom-color: transparent;
	border-radius: 100%;
	-webkit-animation: ball-clip-rotate .75s linear infinite;
	-moz-animation: ball-clip-rotate .75s linear infinite;
	-o-animation: ball-clip-rotate .75s linear infinite;
	animation: ball-clip-rotate .75s linear infinite
}

.la-ball-clip-rotate.la-sm {
	width: 16px;
	height: 16px
}

.la-ball-clip-rotate.la-sm>div {
	width: 16px;
	height: 16px;
	border-width: 1px
}

.la-ball-clip-rotate.la-2x {
	width: 64px;
	height: 64px
}

.la-ball-clip-rotate.la-2x>div {
	width: 64px;
	height: 64px;
	border-width: 4px
}

.la-ball-clip-rotate.la-3x {
	width: 96px;
	height: 96px
}

.la-ball-clip-rotate.la-3x>div {
	width: 96px;
	height: 96px;
	border-width: 6px
}

.la-ball-clip-rotate span {
	font-size: 60px;
	color: #6c6c6c;
	position: absolute;
	left: -10px;
	top: 100px
}

@-webkit-keyframes ball-clip-rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-moz-keyframes ball-clip-rotate {
	0% {
		-moz-transform: rotate(0);
		transform: rotate(0)
	}
	50% {
		-moz-transform: rotate(180deg);
		transform: rotate(180deg)
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-o-keyframes ball-clip-rotate {
	0% {
		-o-transform: rotate(0);
		transform: rotate(0)
	}
	50% {
		-o-transform: rotate(180deg);
		transform: rotate(180deg)
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes ball-clip-rotate {
	0% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}
	50% {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}